:root{
    --body-color:linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    --menu-color: rgba(18, 18, 50, 0.95);
    --primary-color: #38BDF8;
    --secondary-color: #66B2FF;

    --blue-color:  #2272FF;
    --white-color: #ffffff;
    --dark-blue: #1A5BB5;
    --gray-color: #1e1e1e;
    --light-gray: #B3B3B3;
    --text-color: #4A90E2;
    --header-gray-color: #555555;

    --fx-xs: clamp(0.64rem, 0.608rem + 0.16vw, 0.8rem);
    --fs-sm: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
    --fs-base: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    --fs-md: clamp(1.25rem, 1.1875rem + 0.3125vw, 1.5625rem);
    --fs-lg: clamp(1.5625rem, 1.4844rem + 0.3906vw, 1.9531rem);
    --fs-xl: clamp(1.9531rem, 1.8555rem + 0.4883vw, 2.4414rem);
    --fs-2xl: clamp(2.4414rem, 2.3193rem + 0.6104vw, 3.0518rem);
    --fs-3xl: clamp(3.0518rem, 2.8992rem + 0.7629vw, 3.8147rem);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Poppins", sans-serif;
    background: var(--body-color) ;
    color: var(--blue-color);
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.sr-only {
  position: absolute; 
  width: 1px;        
  height: 1px;
  padding: 0;
  margin: -1px;       
  overflow: hidden;   
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; 
  border: 0;
}

.logo__content p span{
    color: var(--white-color);
}

.header{
    position: fixed;
    top: 0;
    height: 3.5rem; 
    padding: 0 0.5rem; 
    box-sizing: border-box;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    z-index: 100;
    align-items: center;
    transition: background-color .3s;   
}

/*OVERLAY*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 12, 41, 0.6); 
  z-index: 20; 
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

/* Mostrar overlay */
.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.logo__content{
    color: var(--primary-color);
    font-weight: 700;
    font-size: var(--fs-lg);
}

.nav{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav__toggle,
.nav__close{
    font-size: var(--fs-lg);
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: color .4s;
    color: var(--white-color);
}


/*---NAVIGATION FOR MOBILE DEVICES---*/
@media screen and (max-width: 1023px){
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgba(18, 18, 50, 1);
        height: 100%;
        z-index: 1;
        padding: 7.5rem 4rem;
        border-left: 1px solid var(--secondary-color);
        transition: right .4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}
  
.nav__link{
    color: var(--white-color);
    font-size: var(--fs-base);
    font-weight: 500;
    transition: color .4s;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-items: center;
}
  
.nav__link:hover,
.nav__link.active{
    color: var(--primary-color);
}
  
.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.principal{
    padding-top: 8.5rem;
    margin-bottom: 7rem;
    text-align: center;
}

.logo__content:hover,
.logo__content:active,
.logo__content:focus{
    outline: none;
}

.principal__title{
    font-size: var(--fs-3xl);
    font-weight: 900;
    letter-spacing: 1px;
    color: #E0E7FF;
    transition: all .4s;
    font-family: "Merriweather", serif;
    margin-bottom: 0.4rem;
}

.principal__description{
    font-weight: 200;
    font-size: var(--fs-md);
    margin-bottom: 2rem;
    color: #D1D5DB;
}

.principal__button {
    font-weight: 600;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    display: inline-block;
    font-size: var(--fs-md);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-shadow: 0 4px 12px rgba(34, 114, 255, 0.4);
    text-shadow: none;
    transition: all .3s ease;
} 
  
.principal__button:hover {
    background-color: var(--primary-color);
    border: 2px solid transparent;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.6), 
    0 0 40px rgba(56, 189, 248, 0.2);
    color: #0f0c29; 
}

.projects__title{
    text-transform: uppercase;
    color: var(--white-color);
    font-size: var(--fs-xl);
    text-align: center;
}

.projects__title::after {
    content: '';
    display: block;
    width: 10%;
    height: 0.2rem;
    background: linear-gradient(90deg, var(--blue-color), 
    var(--text-color)); 
    margin: 0.2rem auto 0 auto;
    border-radius: 2px;
}

.projects__description{
    text-wrap: pretty;
    font-size: var(--fs-base);
    margin-bottom: 1rem;
    color: #b0b0d0;
}

/*FORM MESSAGE*/
.form-message {
    display: none;
    padding: 1rem; 
    border-radius: 0.8rem;
    font-size: var(--fs-sm);
    font-weight: 400; 
    text-align: start;
    margin-top: 0.5rem ;
    background-color: var(--gray-color);
    border: 1px solid var(--header-gray-color);
    color: var(--light-gray);
}

.form-message.error{
    border: 1px solid rgba(255, 0, 0, 0.753);
}

.form-message.success{
    border: 1px solid var(--dark-blue);
}

.principal__image:hover {
    transform: scale(1.05);
    box-shadow: 
        rgba(68, 144, 177, 0.5) 0px 5px 20px,  
        rgba(14, 30, 37, 0.5) 0px 10px 20px,  
        rgba(0, 0, 0, 0.5) 0px 5px 16px;       
    transition: all 0.3s ease-in-out;
}

.principal__image {
    display: block;
    border: 3px solid transparent;
    background: 
        linear-gradient(#0f0c29, #302b63) padding-box, 
        linear-gradient(135deg, #66B2FF, #845EC2) border-box;
    width: clamp(12rem, 36vw, 28.125rem); 
    aspect-ratio: 1 / 1; 
    overflow: hidden; 
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(34, 114, 255, 0.4);
    position: relative;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease; 
    opacity: 0.9;
}
 
.principal__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: top; 
    border-radius: 50%;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.principal__image{
    margin-bottom: 1.5rem;
}

.principal__subtitle{
    font-size: var(--fs-xl);
    font-weight: 600;
    color: #89CFF0;
    margin-bottom: 1rem;
}

.contacts__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav.container{
    padding-inline: 4%;
}

.principal.container,
.about__container.container,
.footer.container,
.projects__container,
.contact.container{
    padding-inline: 8%;
}

.nav__menu{
    position: fixed;
    z-index: 30;
    width: clamp(17.5rem, 15rem + 12vw, 20rem); 
}

.nav__link.button{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    display: inline-block;
    transition: all .3s ease;
    background-color: transparent;
    color: var(--primary-color);
    transform: scale(1);
    border: 2px solid var(--primary-color);
}

.nav__link.button:hover{
   background-color: #1e3a8a; 
   color: #a5b4fc; 
   border: 2px solid #3b82f6; 
   box-shadow: 0 0 8px #3b82f6cc; 
   transform: scale(1.02);
}

.nav__link.button:active {
    transform: scale(0.99);  
    box-shadow: 0 0 4px #3b82f6cc; 
}

.projects__container{
    padding-bottom: 2.5rem;
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    align-items: stretch;
    justify-content: center;
}

.projects__skills{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.projects__content{
    background-color: rgba(34, 34, 68, 0.3);
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    border-radius: 1.5rem;
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all .3s ease-in-out;
    color: var(--white-color);
}

.projects__content:hover{
    background-color: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2); 
    transform: translateY(-0.5rem);
}

.projects__name {
    color: var(--white-color);
    font-size: var(--fs-md);
    font-weight: 700;
    transition: color .3s;
    margin-bottom: 0.5rem;
}
    
.projects__image{
    max-width:100%;
    margin-bottom: 0.5rem;
    border-radius: 1rem;   
}

.projects__skill{
    background-color: rgba(255,255,255,0.15);
    color: var(--white-color);
    vertical-align: middle;
    border-radius: 4rem;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: var(--fs-sm);
    letter-spacing: 0.03em;
    user-select: none; 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.1); 
    transition: all .3s ease;
}

.projects__skill:hover {
  color: var(--primary-color); 
  background-color: rgba(56, 189, 248, 0.15); 
  box-shadow: 0 0 8px var(--primary-color);
  cursor: pointer;
}
    
.projects__button{
    font-size: var(--fs-sm);
    color: var(--secondary-color);
    transition: color .4s ease;
}    

.projects__button:hover{
    color: var(--white-color); 
}

.projects__links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
}

.projects__icon-button{
    color: var(--primary-color);
    font-size: var(--fs-lg);
    transition: all .3s ease-in-out;
}

.projects__icon-button:hover{
    color: var(--white-color);
}

.skills{
    border-radius: 2rem;
    color: var(--white-color);
    text-align: center;
    padding-top: 1rem;
}

.about__container{
    background-color: #181836; 
    padding: 4rem 0;
    margin: 5rem 0;
} 

.aboutme__title{
    font-size: var(--fs-xl);
    margin-bottom: 1rem;
    color: var(--secondary-color);
    text-align: center;
    text-transform: uppercase;
}

.aboutme__description{
    font-size: var(--fs-base);
    color: #D3D3D3;
    line-height: 1.6rem;
}

.aboutme{
    text-align: center;
    text-wrap: pretty;
    margin-bottom: 1.5rem;
}

.skills__title{
    font-size: var(--fs-lg);
    font-family: "Merriweather", serif;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
    font-weight: 900;
    letter-spacing: 0.4rem;
    color: var(--secondary-color);
}

.skills__container{
    display: grid;
    grid-template-columns: repeat(
    auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    justify-content: center;
    text-align: center;
}

.skills__content{
    transition: all .4s ease-in-out;
    font-size: 0.9rem;
    will-change: transform, box-shadow, background-color;
    overflow: hidden;
    position: relative;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 1rem;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.03);
    background-color: #202040;
}

.skills__content:hover {
    transform:translateY(-0.5rem);
    background-color: #1E1E40; 
    box-shadow: 0px 4px 16px rgba(102, 178, 255, 0.25); 
    border: 1px solid rgba(102, 178, 255, 0.5);
}
  
.skills__content-title i {
    margin-bottom: 0.6rem;
    font-size: var(--fs-2xl);
    color: #BBBBBB; 
    will-change: transform, text-shadow;
    transition: text-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
}
  
.skills__content:hover .skills__content-title i {
    opacity: 0.9;
    color: var(--white-color);
    text-shadow: 0 0 8px rgba(102, 178, 255, 0.6);
    transform: scale(1.15); 
}

.skills__content-subtitle{
    font-size: var(--fs-sm);
    color: #CCCCCC;
}
  
.contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;
    margin-bottom: 6rem;
    background-color: var(--body-color);
    color: var(--white-color);
}
  
.contact__content {
    text-align: center;
}
  
.contact__title {
    font-size: var(--fs-xl);
    text-transform: uppercase;
    color: var(--secondary-color);
    text-shadow: 0 0 8px rgba(102, 178, 255, 0.3);
    margin-bottom: 0.5rem;
}
  
.contact__description {
    font-size: var(--fs-base);
    color: #E0E0E0;
    line-height: 1.8;
    max-width: 100%;
    margin: 0 auto;
}
  
.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.03); 
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 8px rgba(34, 114, 255, 0.08);
}
  
.contact__form-input,
.contact__form textarea {
    font-size: var(--fs-sm);
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: var(--white-color);
    background-color: rgba(28, 28, 60, 0.95);     
    transition: all 0.3s ease-in-out;
}

.contact__form-input::placeholder,
.contact__form textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
  
.contact__form-input:focus,
.contact__form textarea:focus {
    outline: none;
    border-color: var(--blue-color);
    box-shadow: 0 0 4px var(--blue-color);
    background-color: rgba(32, 32, 70, 1);
}
  
.contact__form-button {
    font-size: var(--fs-base);
    padding: 1rem 1.5rem;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
.contact__form-button:hover {
    background-color: #1b5edb; 
}

.footer-socials-list{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
}


.footer-socials-link {
    padding: 0.5rem;
    display: flex;
    will-change: transform, box-shadow, background-color;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-xl);
    color: var(--primary-color);
    background-color: rgba(56, 189, 248, 0.1);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.footer-socials-link:hover {
    background-color: rgba(56, 189, 248, 0.15); 
    color: #E0F2FE; 
    box-shadow: 0 0 6px rgba(56, 189, 248, 0.4),
    0 0 10px rgba(56, 189, 248, 0.2);
    transform: translateY(-2px) scale(1.05);
}

input:nth-child(3){
    margin-bottom: 3rem;
}

.projects{
    text-align: center;
}

.projects__title{
    position: relative;
    padding-top: 4.5rem;
    margin-bottom: 2.5rem;
}

footer{
    background: rgba(15, 12, 41, 0.95); 
    color: #E0E7FF; 
    padding: 1.5rem 1rem 0.5rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    gap: 2rem;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4.5rem;
}

.footer-links{
    margin-bottom: 1.5rem;
}

.footer__credits{
    padding-bottom: 2rem;
    text-align: center;
    color: var(--white-color);
}

.footer__credits-title{
    font-weight: 400;
    font-size: var(--fx-xs);
    color: #94A3B8; 
}

.footer__credits-rights-list{
    text-align: center;
    color: var(--white-color);
}

.footer-links-title{
    font-size: var(--fs-base);
    color: #60A5FA; 
    margin-bottom: 0.6rem;
}

.footer-link-list{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: var(--fs-sm);
}

.footer-credits-rights-list li {
    font-size: var(--fs-sm);
}

.footer-link, .footer-credits-right {
    font-size: var(--fs-sm);
    color: #A5B4FC; 
    transition: color .25s;
}

.footer-link:hover,
.footer-credits-right:hover{
    color: var(--primary-color);
}



/** --- MEDIAS QUERYS --- **/
@media (min-width: 768px){

    .nav__close{
        right: 2.5rem;
    }

    .nav.container{
        padding-inline: 5%;
    }

    .projects__container.container,
    .about__container.container,
    .principal.container,
    .footer.container,
    .contact.container{
        padding-inline: 8%;
    }

    .projects__container{
        display: grid;
        grid-template-columns: 
        repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
        justify-content: center;
    }

    .principal__button{
        margin-bottom: 0.5rem;
    }

    .projects__content{
        padding: 1.3rem;
    }

    .about__container{
        text-align: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .aboutme__description{
       text-align: start;
    }

    .skills{
        display:block;
        flex-direction: row;
    }

    .skills__content-subtitle{
        font-weight: 600;
    }

    .contact {
        flex-direction: row;
        gap: 2.5rem;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .contact__content {
        flex: 1 1 40%;
        text-align: left;
    }
    
    .contact__form {
        flex: 1 1 50%;
    }

    .footer{
        margin-top: 3rem;
        text-align: start;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10rem;
    }

    .footer-socials-link {
        padding: 0.6rem;
    }
}

@media (min-width:850px){

    .principal{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    
    .principal__content{
        text-align: start;
    }

    .principal__description{
        margin-bottom: 1.5rem;
    }

    .contacts__container{
        flex-direction: row;
        justify-content: start;
    }
}


@media (min-width: 1024px) {
    .nav__menu{
        position: initial;
        z-index: initial;
    }
    .principal{
        padding-top: 10rem;
        justify-content: space-around;
    }

    .principal__button{
        margin: 0;
    }

    .contacts__container{
        gap: 2rem;
    }

    .header{
        height: 4.5rem;
    }

    .projects__container.container,
    .about__container.container,
    .principal.container,
    .footer.container,
    .contact.container{
        padding-inline: 10%;
    }

    .projects__container{
        grid-template-columns: 
        repeat(auto-fit, minmax(330px, 1fr));
        gap: 2.2rem;
    }

    .projects__content{
        padding: 1.5rem;
    }
 
    .nav__menu i{
        display: none;
    }
 
    .nav__menu{
        width: auto;
    }

    .nav__list{
        gap: 4rem;
    }
 
    .nav__link{
        font-weight: 500;
    }
 
    .nav__toggle, .nav__close{
        display: none;
    }
 
    .nav__list{
        flex-direction: row;
        align-items: center;
    }

    .projects__title{
        padding-top: 5rem;
    }

    .about__container{
        padding: 4.5rem 0;
    }

    .aboutme__description{
        line-height: 1.8;
    }

    .skills__title{
        padding-top: 2rem;
    }
    
    .contact{
        padding-top: 7rem;
    }

    .contact__form{
       width: 85%;
       padding: 2rem;
    }

    .contacts__container{
        justify-content: start;
    }

    .footer-content{
        display: flex;
        justify-content: space-between;
    }

    .footer-socials-link {
        padding: 0.5rem;
    }
}


@media (min-width: 1280px){
    .header{
        height: 6rem;
    }

   .principal{
        margin-bottom: 4rem;
        padding-top: 4rem;
        min-height: 100vh;
        justify-content: space-around; 
   }

   .projects{
        min-height: calc(100vh - 6rem); 
    }

    .principal__content{
        text-align: start;
    }

    .nav__list{
        gap: 4rem;
    }

    .nav__link{
        font-weight: 500;
    }

    .nav__toggle, .nav__close{
        display: none;
    }

    .nav__list{
        flex-direction: row;
        align-items: center;
    }

    .projects__title{
        padding-top: 7rem;
        margin-bottom: 4.5rem;
    }

    .about__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        padding: 6rem 0;
        margin-bottom: 4rem;
    }

    .aboutme{
        text-align:start;
    }

    .aboutme__description{
        padding: 0;   
    }

    .skills{
        text-align: center;
        padding-inline: 0%;
        margin-bottom: 0;
        padding-top: 0;
    }

    .skills__container{
        display: grid;
        grid-template-columns: repeat(
        auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
        justify-content: center;
        text-align: center;
    }

    .skills__title{
        text-align: center;
    }

    .skills__content{
        padding: 2rem;
        margin-bottom: 0;
    }

    .footer__credits-rights-list{
        text-align:start;
    }
}


@media (min-width:1920px){
    .header{
        padding: 2rem 0.5rem;
    }

    .principal{
        margin-bottom: 4rem;
        justify-content: center;
        gap: 6rem;
    }

    .projects__title{
        padding-top: 8rem;
    }

    .contact{
        padding: 8rem 0; 
    }

    .footer-socials-link{
        padding: 0.6rem;
    }

    .footer{
        padding-bottom: 10rem;
    }
}


/*---SHOW MENU---*/
.show-menu{
    right: 0;
}

.bg-header{
    background-color: var(--menu-color) ;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}






  






